<div class="container">
  <div class="upper-data">
    <img src="https://gamepress.gg/arknights/sites/arknights/files/2019-11/char_220_grani_1.png" alt="">

    <div class="char-data">
      <div class="name">Grani</div>
      <img class="location mt" src="../assets/Victoria.png" alt="">
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="" alt="">
          <span></span>
        </div>
        <div class="info-block-value">
          
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
