<div class="search">
  <form #form="ngForm" (submit) = "onSubmit()">
    <input type="text" placeholder="Search operators" name = "operator" [(ngModel)] = "operatorName">
  </form>
</div>

<div class="container" *ngIf="operatorData">
  <div class="upper-data">
    <img src={{operatorData.art.Base}} alt="">

    <div class="char-data">
      <div class="name">{{operatorData.name}}</div>
      <img class="location mt" src="../assets/Location/Victoria.png" alt="">
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label mb-1">Background</div>

    <div class="more-info-bio">
      {{operatorData.biography}}
    </div>

    <div class="more-info-container">
      <div class="info-block mb-1">
        <div class="info-block-label">
          <img src="../assets/Info/star.png" alt="">
          <span>Rarity</span>
        </div>
        <div class="info-block-value">
          <div *ngIf = "operatorData.rarity == 1 ">★</div>
          <div *ngIf = "operatorData.rarity == 2 ">★★</div>
          <div *ngIf = "operatorData.rarity == 3 ">★★★</div>
          <div *ngIf = "operatorData.rarity == 4 ">★★★★</div>
          <div *ngIf = "operatorData.rarity == 5 ">★★★★★</div>
          <div *ngIf = "operatorData.rarity == 6 ">★★★★★★</div>
        </div>
      </div>

      <div class="info-block mb-1">
        <div class="info-block-label">
          <img src="../assets/Info/flags-crossed.png" alt="">
          <span>Affiliation</span>
        </div>
        <div class="info-block-value">
          {{operatorData.affiliation[0]}}
        </div>
      </div>

      <div class="info-block mb-1">
        <div class="info-block-label">
          <img src="../assets/Info/portfolio.png" alt="">
          <span>Class</span>
        </div>
        <div class="info-block-value">
          {{operatorData.class[0]}}
        </div>
      </div>

      <div class="info-block mb-1">
        <div class="info-block-label">
          <img src="../assets/Info/cake.png" alt="">
          <span>Birthday</span>
        </div>
        <div class="info-block-value">
          {{operatorData.lore.Birthday}}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Info/height.png" alt="">
          <span>Height</span>
        </div>
        <div class="info-block-value">
          154cm
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Info/user.png" alt="">
          <span>Ethnicity</span>
        </div>
        <div class="info-block-value">
          {{operatorData.lore.Race}}
        </div>
      </div>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
